<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration><!-- 配置 -->
    <!-- 配置数据库链接信息 -->
    <environments default="development"><!-- 配置的环境 -->
        <environment id="development">
            <transactionManager type="JDBC"/><!-- 事务管理器，事务的处理服务 -->
            <dataSource type="POOLED"> <!-- 链接数据池 -->
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/><!-- property主要作用就是去的value值 -->
                <property name="url" value="jdbc:mysql://localhost:3306/dbweb?characterEncoding=utf-8"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>
    <!--配置映射文件路径  -->
    <mappers><!-- 映射器 -->
        <mapper resource="StudentServiceMapper.xml"/><!-- resource资源 -->
    </mappers>
</configuration>