<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!--
mapper:映射
namespace：声明mapper对象映射的路径
#{}和#{}的区别：？
id：方法名称
parameterType：传入参数的类型-->
<mapper namespace="com.lpssyxy.shool.StudentService">
<!--    添加学生信息-->
    <insert id="StudentServiceInfo" parameterType="com.lpssyxy.shool.StudentBean">
    insert into student(stu_no,stu_name,stu_class,stu_age,stu_sex,stu_birthday)
    values (#{stu_no},#{stu_name},#{stu_class},#{stu_age},#{stu_sex},#{stu_birthday});
    </insert>
</mapper>
